<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <!-- PRE LOADER -->

  <!--
     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>
     -->

  <!-- Navigation section  -->

  <%- include('../partials/header', {variant:'among'}); %>

  <!-- Home Section -->

  <section id="home">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <h2>Among Legends Game.</h2>
          <hr>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section id="room">
    <div class="scrollmenu" id="table">
      <table>
        <!--caption>Among legends Rooms</caption-->
        <thead>
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Admin</th>
            <th scope="col">Kick</th>
          </tr>
        </thead>
        <tbody id="PlayersListbody">
          <% for(const x in discordclient.amonglegends.get(game).players) {%>
          <tr>
            <td>
              <%= discordclient.amonglegends.get(game).players[x].username %>
            </td>
            <td>
              <%= discordclient.amonglegends.get(game).players[x].admin %>
            </td>
            <% if(discordclient.amonglegends.get(game).players[discordid].admin) {%>
            <td>
              <a onclick="httpGetAsync('/lol/among/kick?game=<%= game %>&player=<%= x %>', () => {})">❌</a>
            </td>
            <% } else {%>
            <td></td>
            <% } %>
          </tr>
          <% };%>
          <!--tr>
            <form action="/lol/among/create" method="post">
              <td>
                <div class="col-md-3 col-sm-4" style="float: none;">
                  <input name="submit" id="submit" type="submit" class="form-control" value="Create Game" style="width:auto;">
                </div>
              </td>
              <td></td>
              <td></td>
            </form>
          </tr-->
        </tbody>

      </table>
    </div>
    <div class="buttons">
      <a id="roles" style="margin: auto;font-family: 'Work Sans', sans-serif;overflow-x: hidden;color: #ffffff;font-weight: bold;">
      </a>
    </div>
    <% if(discordclient.amonglegends.get(game).players[discordid].admin) {%>
    <div class="buttons">
      <a onclick="httpGetAsync('/lol/among/start?game=<%= game %>', () => {})" style="margin-left: auto;padding: 5px;">
        <input name="submit" id="submit" type="button" class="form-control" value="start game">
      </a>
      <a href="/lol/among/delete?game=<%= game %>" style="padding: 5px;">
        <input name="submit" id="submit" type="button" class="form-control" value="delete game">
      </a>
      <a onclick="httpGetAsync('/lol/among/roles?game=<%= game %>', () => {})" style="margin-right: auto;padding: 5px;">
        <input name="submit" id="submit" type="button" class="form-control" value="Give roles">
      </a>
    </div>
    <% } %>
  </section>

  <!-- Footer Section -->

  <footer>
    <%- include('../partials/footer'); %>
  </footer>


  <!-- SCRIPTS -->

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>
  <script src="/js/among.js"></script>
  <script>
    setInterval(loadPlayer, 3000, "<%= game %>")
  </script>

</body>

</html>