<% games.forEach(function(game) {%>
<tr id="<%= game.puuid%>">
  <td class="championCellDark">
    <div class="winIndicator victory"></div>
    <a>
      <!--href="/match/euw/6179578583#participant8">-->
      <div class="championContainer">
        <div>
          <img src=<%="http://ddragon.leagueoflegends.com/cdn/" + version['v'] + "/img/champion/" + dict[game.champion] + ".png"%> class="champion-50-36 " width="36" height="36">
        </div>
        <!--div class="spells">
          <div class="spell">
            <img src="//lolg-cdn.porofessor.gg/img/s/fond_sprite.png?v=5" tooltip-var="perksdetails-1715725401" tooltip-class="perkTooltip" class="perk-8128-12 requireTooltip" width="12" height="12">
          </div>
          <div class="spell">
            <img src="//lolg-cdn.porofessor.gg/img/s/fond_sprite.png?v=5" alt="Flash" tooltip-var="spell-4" class="requireTooltip spell-4-12 " width="12" height="12">
          </div>
          <div class="spell">
            <img src="//lolg-cdn.porofessor.gg/img/s/fond_sprite.png?v=5" alt="Ignite" tooltip-var="spell-14" class="requireTooltip spell-14-12 " width="12" height="12">
          </div>
        </div-->
      </div>
    </a>
  </td>
  <td class="resultCellDark nopadding">
    <a class="full-cell">
      <!--href="/match/euw/6194583377#participant8"-->
      <div class="display-block">
        <div class="victoryDefeatText <%= game.result %>"><%= game.result %></div>
        <div class="gameMode  requireTooltip" tooltip-vertical-offset="0" tooltip="<%= game.gamemode %>">

          <%= game.gamemode %> </div>

      </div>
    </a>
  </td>
  <td class="text-center kdaColumn nopadding">
    <a class="full-cell">
      <!--href="/match/euw/6194583377#participant8"-->
      <div class="display-block">
        <div class="victoryDefeatText" style="color: white;"><%= game.kill %>/<%= game.deaths %>/<%= game.assists %></div>
        <div class="cs" tooltip-vertical-offset="0">
          <% if(game.total_kills != 0) { %>
          <%= game.cs %> CS - <%= ((game.kill + game.assists)*100/(game.total_kills)).toFixed(0) %>% Kills P.
          <% } else { %>
          <%= game.cs %> CS - 0% Kills P.
          <% } %>
        </div>
      </div>
    </a>
  </td>
</tr>
<% });%>