<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
        <% const tiers=["unranked", "IRON" , "BRONZE" , "SILVER" , "GOLD" , "PLATINUM" , "DIAMOND" , "MASTER"
            , "GRANDMASTER" , "CHALLENGER" ]; const rank=["IV", "III" , "II" , "I" ]; let best_solo=["unranked", "" ,
            0]; let best_flex=["unranked", "" , 0]; for (const row of summoners) { if (tiers.indexOf(row.tier_solo)>
            tiers.indexOf(best_solo[0])) {
            best_solo = [row.tier_solo, row.rank_solo, row.lp_solo];
            } else if (tiers.indexOf(row.tier_solo) === tiers.indexOf(best_solo[0])) {
            if (rank.indexOf(row.rank_solo) > rank.indexOf(best_solo[1])) {
            best_solo = [row.tier_solo, row.rank_solo, row.lp_solo];
            } else if (rank.indexOf(row.rank_solo) === rank.indexOf(best_solo[1])) {
            if (row.lp_solo > best_solo[2]) {
            best_solo = [row.tier_solo, row.rank_solo, row.lp_solo];
            }
            }
            }

            if (tiers.indexOf(row.tier_flex) > tiers.indexOf(best_flex[0])) {
            best_flex = [row.tier_flex, row.rank_flex, row.lp_flex];
            } else if (tiers.indexOf(row.tier_flex) === tiers.indexOf(best_flex[0])) {
            if (rank.indexOf(row.rank_flex) > rank.indexOf(best_flex[1])) {
            best_flex = [row.tier_flex, row.rank_flex, row.lp_flex];
            } else if (rank.indexOf(row.rank_flex) === rank.indexOf(best_flex[1])) {
            if (row.lp_flex > best_flex[2]) {
            best_flex = [row.tier_flex, row.rank_flex, row.lp_flex];
            }
            }
            }

            }
            let WR = [[0, 0], [0, 0]]
            for (const row of games) {
            if (row.result == "Win") {
            if(row.gamemode == "RANKED_SOLO") {
            WR[0][0] += 1;
            } else if (row.gamemode == "RANKED_FLEX") {
            WR[1][0] += 1;
            }
            }else if (row.result == "Lose") {
            if(row.gamemode == "RANKED_SOLO") {
            WR[0][1] += 1;
            } else if (row.gamemode == "RANKED_FLEX") {
            WR[1][1] += 1;
            }
            }
            }
            %>

</head>

<body>

    <!-- PRE LOADER -->

    <!--
     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>
     -->

    <!-- Navigation section  -->

    <%- include('../partials/header', {variant:'lol'}); %>

        <!-- Home Section -->

        <section id="home">
            <div class="container">
                <div class="row">

                    <div class="col-md-12 col-sm-12">
                        <h2>
                            <%= username %> LOL stats
                        </h2>
                    </div>
                </div>
            </div>
        </section>

        <hr>

        <!-- Stats Section-->
        <section id="stats">
            <div class="container">
                <div class="row">
                    <div class="stats">
                        <div class="sub-stats">
                            <h2 style="border-bottom: 1px solid #2D3848;">Ranked</h2>
                            <div class="img-align-block">

                                <div>
                                    <img src="//lolg-cdn.porofessor.gg/img/s/league-icons-v3/160/<%= tiers.indexOf(best_solo[0])%>.png?v=8"
                                        alt="Gold IV" title="Gold IV" class="" style="margin:auto;max-width:160px;"
                                        width="160" height="137">
                                </div>
                                <div class="txt mainRankingDescriptionText">
                                    <h3 style="text-align:center;">Soloqueue :</h3>
                                    <div class="leagueTier">
                                        <%= best_solo[0]%>
                                            <%= best_solo[1] %>
                                    </div>
                                    <div class="queueLine">
                                    </div>
                                    <div class="league-points">LP: <span class="leaguePoints ">
                                            <%= best_solo[2] %>
                                        </span></div>
                                    <div class="winslosses">
                                        <span class="wins">
                                            Wins: <span class="winsNumber">
                                                <%= WR[0][0] %>
                                            </span>
                                        </span>

                                        <span class="winLossesSeparator"></span>
                                        <span class="losses">
                                            Losses: <span class="lossesNumber">
                                                <%= WR[0][1] %>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="img-align-block">

                                <div>
                                    <img src="//lolg-cdn.porofessor.gg/img/s/league-icons-v3/160/<%= tiers.indexOf(best_flex[0])%>.png?v=8"
                                        alt="Gold IV" title="Gold IV" class="" style="margin:auto;max-width:160px;"
                                        width="160" height="137">
                                </div>
                                <div class="txt mainRankingDescriptionText">
                                    <h3 style="text-align:center;">Flex :</h3>
                                    <div class="leagueTier">
                                        <%= best_flex[0]%>
                                            <%= best_flex[1] %>
                                    </div>
                                    <div class="queueLine">
                                    </div>
                                    <div class="league-points">LP: <span class="leaguePoints ">
                                            <%= best_flex[2] %>
                                        </span></div>
                                    <div class="winslosses">
                                        <span class="wins">
                                            Wins: <span class="winsNumber">
                                                <%= WR[1][0] %>
                                            </span>
                                        </span>

                                        <span class="winLossesSeparator"></span>
                                        <span class="losses">
                                            Losses: <span class="lossesNumber">
                                                <%= WR[1][1] %>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="stats">
                        <div class="sub-stats">
                            <h2 style="border-bottom: 1px solid #2D3848;">Stats</h2>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Table Section -->

        <div class="scrollmenu" id="table">
            <table>
                <!--<caption>Tableau stats lol</caption>-->
                <thead>
                    <tr>
                        <th scope="col">username</th>
                        <th scope="col">tier solo</th>
                        <th scope="col">rank solo</th>
                        <th scope="col">lp solo</th>
                        <th scope="col">rank flex</th>
                        <th scope="col">tier flex</th>
                        <th scope="col">lp flex</th>
                    </tr>
                </thead>
                <tbody>
                    <% summoners.forEach(function(summoner) {%>
                        <tr>
                            <td>
                                <%= summoner.username %>
                            </td>
                            <td>
                                <%= summoner.tier_solo %>
                            </td>
                            <td>
                                <%= summoner.rank_solo %>
                            </td>
                            <td>
                                <%= summoner.lp_solo %>
                            </td>
                            <td>
                                <%= summoner.rank_flex %>
                            </td>
                            <td>
                                <%= summoner.tier_flex %>
                            </td>
                            <td>
                                <%= summoner.lp_flex %>
                            </td>
                        </tr>
                        <% });%>
                </tbody>
                <!--
            <tfoot>
                <tr>
                    <th scope="row" colspan="2">Accounts number :</th>
                    <td colspan="2">3</td>
                </tr>
            </tfoot>
            -->
            </table>
        </div>


        <!-- Footer Section -->

        <footer>
            <%- include('../partials/footer'); %>
        </footer>


        <!-- SCRIPTS -->

        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/custom.js"></script>

</body>

</html>