<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>

</head>

<body>

  <%- include('../partials/header', {variant:'lol'}); %>

  <!-- Home Section -->

  <section id="home">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-sm-12">
          <h2>
            <%= username %> Registration
          </h2>
        </div>
      </div>
    </div>
  </section>

  <hr>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 col-sm-12">
          <div class="section-title">
            <h3>You need to register a lol account before using this website</h3>
            <form action="/lol/register" method="post">
              <div class="col-md-12 col-sm-12">
                <textarea class="form-control" rows="1" placeholder="Lol username" name="username" id="username"></textarea>
              </div>
              <input class="form-control" rows="1" value=<%= discordid %> name="discordid" type="hidden" id="discordid">
              <div class="col-md-3 col-sm-4" style="float: none;margin-left: auto;margin-right: auto;">
                <input name="submit" id="submit" type="submit" class="form-control" value="Add account">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- Footer Section -->

  <footer>
    <%- include('../partials/footer'); %>
  </footer>


  <!-- SCRIPTS -->

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CD70HY5J9Z"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-CD70HY5J9Z');
  </script>

</body>

</html>