<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <!-- PRE LOADER -->

  <!--
     <div class="preloader">
          <div class="sk-spinner sk-spinner-wordpress">
               <span class="sk-inner-circle"></span>
          </div>
     </div>
     -->

  <!-- Navigation section  -->

  <%- include('../partials/header', {variant:'lol'}); %>

  <!-- Home Section -->

  <section id="home">
    <div class="container">
      <div class="row">

        <div class="col-md-12 col-sm-12">
          <h2>League of legends "Qui-est-ce ?".</h2>
          <hr>
        </div>
        <% y = 0 %>
        <% for(const x in champs) { %>
        <% if(y % 7 == 0) { %>
        <% if(y != 0) { %>
      </div>
      <% } %>
      <div class="row-game">
        <% } %>
        <img src="http://ddragon.leagueoflegends.com/cdn/<%= version %>/img/champion/<%= champs[x] %>.png" class="champion" id="<%= champs[x]%>" onclick="clicked('<%= champs[x] %>')">
        <% y += 1 %>
        <% } %>
      </div>
    </div>
  </section>


  <!-- Footer Section -->

  <footer>
    <%- include('../partials/footer'); %>
  </footer>


  <!-- SCRIPTS -->

  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/custom.js"></script>
  <script>
    function clicked(id) {
      document.getElementById(id).style.filter = "grayscale(100%)";
    }
  </script>

</body>

</html>