<% if(variant=="lol" || variant=="who") {%>
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <a href="/lol/profile" class="navbar-brand"><img src="../images/logo.png" class="logo"></img></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class=<%=variant=='lol' ? 'active' : '' %>><a href="/lol/profile">Profile</a></li>
        <li class=<%=variant=='who' ? 'active' : '' %>><a href="/lol/who">Who Game</a></li>
        <!--li class=<%=variant=='blog' ? 'active' : '' %>><a href="/blog">Blog</a></li>
                    <li class=<%=variant=='contact' ? 'active' : '' %>><a href="/contact">Contact</a></li-->
      </ul>
    </div>

  </div>
</div>
<% }else {%>
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
        <span class="icon icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><img src="../images/logo.png" class="logo"></img></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class=<%=variant=='index' ? 'active' : '' %>><a href="/">Projects</a></li>
        <li class=<%=variant=='about' ? 'active' : '' %>><a href="/about">About Me</a></li>
        <li class=<%=variant=='blog' ? 'active' : '' %>><a href="/blog">Blog</a></li>
        <li class=<%=variant=='contact' ? 'active' : '' %>><a href="/contact">Contact</a></li>
      </ul>
    </div>

  </div>
</div>
<% } %>